@model ProyectoEmergencias.Models.Sintoma

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Sintoma</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SintomasID" />
            <div class="form-group">
                <label asp-for="Sintomas" class="control-label"></label>
                <input asp-for="Sintomas" class="form-control" />
                <span asp-validation-for="Sintomas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Presion" class="control-label"></label>
                <input asp-for="Presion" class="form-control" />
                <span asp-validation-for="Presion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Frecuencia_Cardiaca" class="control-label"></label>
                <input asp-for="Frecuencia_Cardiaca" class="form-control" />
                <span asp-validation-for="Frecuencia_Cardiaca" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pulso" class="control-label"></label>
                <input asp-for="Pulso" class="form-control" />
                <span asp-validation-for="Pulso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Temperatura" class="control-label"></label>
                <input asp-for="Temperatura" class="form-control" />
                <span asp-validation-for="Temperatura" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PacienteID" class="control-label"></label>
                <select asp-for="PacienteID" class="form-control" asp-items="ViewBag.PacienteID"></select>
                <span asp-validation-for="PacienteID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
