@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="https://i.pinimg.com/originals/4a/28/e4/4a28e426edcac92292752f3b1b0d550f.jpg">
    <img src="https://external-preview.redd.it/qiTDPfOB2XbrnmhtzcNEQMvmk6bpsJmE0NALNmURB7E.png?format=pjpg&auto=webp&s=b8bc3c41044235c7256c085bc9ebf6c1810cf919">
</div>
